
<div class="main-menu">
  <img id="space-jam-logo" src="./assets/p-jamlogo.gif" alt="space jam logo">
  <img id="jam-central" src="./assets/p-jamcentral.gif" alt="jam central">
  <img id="planet-b-ball" src="./assets/p-bball.gif" alt="planet b-ball">
  <img id="lunar-tunes" src="./assets/p-lunartunes.gif" alt="lunar tunes">
  <img id="jump-station" src="./assets/p-jump.gif" alt="jump station">
  <img id="studio-store" src="./assets/p-studiostore.gif" alt="warner studio store">
  <img id="p-behind" src="./assets/p-behind.gif" alt="behind the jam">
  <img id="site-map" src="./assets/p-sitemap.gif" alt="site map">
  <img id="stellar-souvenirs" src="./assets/p-souvenirs.gif" alt="stellar souvenirs">
  <img id="junior-jam" src="./assets/p-junior.gif" alt="junior jam">
  <img id="lineup" src="./assets/p-lineup.gif" alt="the lineup">
  <img id="pressbox" src="./assets/p-pressbox.gif" alt="press box shuttle">
</div>
<div class="main-page-footer">
  <p>Legal/Privacy Information About This Site</p>
  <p>SPACE JAM, characters, names, and all related<br>
    indicia are trademarks of Warner Bros. © 1996</p>
</div>
